<div class="col-md-12">
    <div class="row">
        <form class="form-horizontal" action="/Formulario/enviarFormulario" method="POST">
            <div class="form-group">
                <label for="inputEmail3" class="col-sm-3 control-label">Seleccionar Profesor</label>
                <div class="col-sm-6">
                    <input type="hidden" name="idProfesor" value="<%=profesor.idProfesor%>">
                    <input type="text" class="form-control" value="<%=profesor.nombreProf%> <%=profesor.apellidoProf%>" disabled>
                </div>
            </div>
            <div class="form-group">
                <label for="inputEmail3" class="col-sm-3 control-label">Envios Permitidos</label>
                <div class="col-sm-6">
                    <select class="form-control" name="numIntentos">
                        <option value='1'>1</option>
                        <option value='2'>2</option>
                        <option value='3'>3</option>
                        <option value='4'>4</option>
                        <option value='5'>5</option>
                    </select>
                </div>
            </div>
            <br>
            <div class="form-group">
                <div class="col-md-offset-4 col-md-4">
                    <div class="btn-group btn-group-justified" role="group" aria-label="...">
                        <div class="btn-group" role="group">
                            <button type="submit" class="btn btn-primary">Enviar</button>
                        </div>
                        <div class="btn-group" role="group">
                            <a href="/profesores"><button type="button" class="btn btn-default">Cancelar</button></a>
                        </div>
                    </div>
                </div>
            </div>               
        </form>
    </div>
</div>