<div class="col-md-12">
    <div class="row">
        <h2>Envio Formulario</h2>
    </div>
    <br>
    <div class="row">
        <form class="form-horizontal" action="" method="">
            <div class="form-group">
                <label for="inputEmail3" class="col-sm-3 control-label">Seleccionar Profesor</label>
                <div class="col-sm-6">
                    <select class="form-control" name="idProfesor">
                        <option value="0"></option>
                        <% for(var i=0; i<profesores.length; i++){ %>
                        <option value='<%=profesores[i].idProfesor%>'>
                            <%=profesores[i].nombre_Prof%> <%=profesores[i].apellido_Prof%>
                        </option>
                        <%  } %>
                    </select>
                </div>
                <div id="" class="col-md-3">
                    <div class="btn-group btn-group-justified" role="group">
                        <a href="/crearProf" data-toggle="tooltip" title="Agregar Profesor"><button type="button" class="btn btn-primary"><span class="glyphicon glyphicon-plus-sign"></span></button></a>
                        <a href="/editarProf" data-toggle="tooltip" title="Editar Profesor"><button type="button" class="btn btn-default"><span class="glyphicon glyphicon-pencil"></span></button></a>
                    </div>
                </div>
            </div>
            <div class="form-group">
                <label for="inputEmail3" class="col-sm-3 control-label">Envios Permitidos</label>
                <div class="col-sm-6">
                    <select class="form-control">
                        <option value='1'>1</option>
                        <option value='2'>2</option>
                        <option value='3'>3</option>
                        <option value='4'>4</option>
                        <option value='5'>5</option>
                    </select>
                </div>
            </div>
            <br>
            <div class="form-group">
                <div class="col-md-2">
                    <button type="submit" class="btn btn-primary">Enviar Formulario</button>
                </div>
            </div>               


        </form>
    </div>
</div>