<div class="col-md-12">
    <div class="row">
        <h2>Editar Materia</h2>
    </div>
    <br>
    <div class="row">
        <form class="form-horizontal" action="/Materia/editarMateria" method="POST">
            <div class="form-group">
                <input type="text" style="display:none" value="<%= materia.idMateria%>" name="idMateria">
                <label for="inputEmail3" class="col-sm-2 control-label">Nombre</label>
                <div class="col-sm-10">
                    <input type="text" class="form-control" name="nombreMateria" value="<%= materia.nombreMateria%>">
                </div>
            </div>
            <div class="form-group">
                <label for="inputEmail3" class="col-sm-2 control-label">Código</label>
                <div class="col-sm-10">
                    <input type="text" class="form-control" name="codigoMateria" value="<%= materia.codigoMateria%>">
                </div>
            </div>
            <div class="form-group">
                <label for="inputPassword3" class="col-sm-2 control-label">Grupo</label>
                <div class="col-sm-10">
                    <select class="form-control">
                        <option>Sin Grupo</option>
                        <option>Gr1</option>
                        <option>Gr2</option>
                        <option>Gr3</option>
                    </select>
                </div>
            </div>
            <br>
            <div class="form-group">
                <div class="col-md-offset-4 col-md-4">
                    <div class="btn-group btn-group-justified" role="group" aria-label="...">
                        <div class="btn-group" role="group">
                            <button type="submit" class="btn btn-primary">Guardar</button>
                        </div>
                        <div class="btn-group" role="group">
                            <a href="/materias"><button type="button" class="btn btn-default">Cancelar</button></a>
                        </div>

                    </div>
                </div>
            </div>
        </form>
    </div>
</div>