<div class="col-md-12">
    <div class="row">
        <h2>Asignar Software</h2>
    </div>
    <br>
    <div class="row">
        <form class="form-horizontal" action="" method="">
            <div class="form-group">
                <label for="inputEmail3" class="col-md-2 control-label">Materia</label>
                <div class="col-md-10">
                    <input disabled type="email" class="form-control" id="inputEmail3" placeholder="Programacion I">
                </div>
            </div>
            <div class="form-group">
                <div class="col-md-offset-1 col-md-11">
                    <div class="panel panel-primary">
                        <div class="panel-heading">
                            <h2 class="panel-title">Software Asignado</h2>
                        </div>
                        <div class="table-responsive">
                            <table class="table table-striped">
                                <thead>
                                    <tr>
                                        <th>#</th>
                                        <th>Nombre</th>
                                        <th>Servicio</th>
                                        <th>Categoria</th>
                                        <th>Version</th>
                                        <th>Año</th>
                                        <th></th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr>
                                        <th>1</th>
                                        <td>NetBeans</td>
                                        <td>IDE</td>
                                        <td>Libre</td>
                                        <td>8.0</td>
                                        <td>2016</td>
                                        <td><a href=""><button type="button" class="btn btn-primary btn-xs"><span class="glyphicon glyphicon-remove"></span></button></a></td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>

            </div>
            <div class="form-group">
                <div id="" class="col-sm-offset-1 col-md-10">
                    <select class="form-control">
                        <option></option>
                        <option>Net Beans</option>
                        <option>Dev C++</option>
                    </select>
                </div>
                <div id="" class="col-md-1">
                    <button type="button" class="btn btn-primary"><span class="glyphicon glyphicon-plus-sign"></span></button>
                </div>
            </div>
            <div class="form-group">
                <label for="inputPassword3" class="col-md-2 control-label">Estado</label>
                <div class="radio">
                    <div class="col-md-2">
                        <label>
                            <input type="radio" name="optionsRadios" id="optionsRadios1" value="1" checked> Instalado
                        </label>
                    </div>
                    <div class="col-md-2">
                        <label>
                            <input type="radio" name="optionsRadios" id="optionsRadios2" value="0"> No Instalado
                        </label>
                    </div>
                </div>
            </div>
            <br>
            <div class="form-group">
                <div class="col-md-offset-4 col-md-4">
                    <div class="btn-group btn-group-justified" role="group" aria-label="...">
                        <div class="btn-group" role="group">
                            <button type="submit" class="btn btn-primary">Guardar</button>
                        </div>
                        <div class="btn-group" role="group">
                            <a href="/materias"><button type="button" class="btn btn-default">Cancelar</button></a>
                        </div>

                    </div>
                </div>
            </div>
        </form>
    </div>
</div>