<div class="col-md-12">
    <br>
    <div class="row">
        <div class="panel panel-primary">
            <div class="panel-heading">
                <h2 class="panel-title">Materias Impartidas</h2>
            </div>
            <div class="table-responsive">
                <table class="table table-striped">
                    <thead>
                        <tr>
                            <th>#</th>
                            <th>
                                <div class="input-group">
                                    <input type="text" class="form-control" placeholder="Materia...">
                                    <span class="input-group-btn">
                                        <button class="btn btn-default" type="button"><span class="glyphicon glyphicon-search"></span></button>
                                    </span>
                                </div>
                            </th>
                            <th>Grupo</th>
                            <th>
                                <div class="input-group">
                                    <input type="text" class="form-control" placeholder="Profesor...">
                                    <span class="input-group-btn">
                                        <button class="btn btn-default" type="button"><span class="glyphicon glyphicon-search"></span></button>
                                    </span>
                                </div>
                            </th>
                            <th></th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <th>1</th>
                            <td>Programacion I</td>
                            <td>Gr1</td>
                            <td>Carlos Teran</td>
                            <td><button type="button" class="btn btn-primary btn-xs"><span class="glyphicon glyphicon-pencil"></span></button></td>
                            <td><button type="button" class="btn btn-primary btn-xs"><span class="glyphicon glyphicon-erase"></span></button></td>
                            <td><button type="button" class="btn btn-primary btn-xs"><span class="glyphicon glyphicon-cd"></span></button></td>
                        </tr>
                        <tr>
                            <th>3</th>
                            <td>Programacion II</td>
                            <td>Gr2</td>
                            <td>Sheyla Noboa</td>
                            <td><button type="button" class="btn btn-primary btn-xs"><span class="glyphicon glyphicon-pencil"></span></button></td>
                            <td><button type="button" class="btn btn-primary btn-xs"><span class="glyphicon glyphicon-erase"></span></button></td>
                            <td><button type="button" class="btn btn-primary btn-xs"><span class="glyphicon glyphicon-cd"></span></button></td>
                        </tr>
                        <tr>
                            <th>3</th>
                            <td>Tecnologias Web con JavaScript</td>
                            <td>Gr1</td>
                            <td>Tania Calle</td>
                            <td><button type="button" class="btn btn-primary btn-xs"><span class="glyphicon glyphicon-pencil"></span></button></td>
                            <td><button type="button" class="btn btn-primary btn-xs"><span class="glyphicon glyphicon-erase"></span></button></td>
                            <td><button type="button" class="btn btn-primary btn-xs"><span class="glyphicon glyphicon-cd"></span></button></td>
                        </tr>
                        <tr>
                            <th>4</th>
                            <td>Tecnologias de Seguridad</td>
                            <td>Gr1</td>
                            <td>Daniel Maldonado</td>
                            <td><button type="button" class="btn btn-primary btn-xs"><span class="glyphicon glyphicon-pencil"></span></button></td>
                            <td><button type="button" class="btn btn-primary btn-xs"><span class="glyphicon glyphicon-erase"></span></button></td>
                            <td><button type="button" class="btn btn-primary btn-xs"><span class="glyphicon glyphicon-cd"></span></button></td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
    <div class="row">
        <button type="button" class="btn btn-primary">Agregar Materia</button>
    </div>
</div>