<div class="col-md-12">
    <div class="row">
        <h2>Asignar Sistema Operativo</h2>
    </div>
    <br>
    <div class="row">
        <form class="form-horizontal" action="" method="">
            <div class="form-group">
                <label for="inputEmail3" class="col-md-2 control-label">Laboratorio</label>
                <div class="col-md-10">
                    <input disabled type="email" class="form-control" id="inputEmail3" placeholder="Beta">
                </div>
            </div>
            <div class="form-group">
                <label for="inputPassword3" class="col-md-2 control-label">Sistema Operativo</label>
                <div id="" class="col-md-9">
                    <select class="form-control">
                        <option></option>
                        <option>Windows 7 - SP1</option>
                        <option>Windows Server - 2012</option>
                        <option>Ubuntu - 14.10</option>
                    </select>
                </div>
                <div id="" class="col-md-1">
                    <button type="button" class="btn btn-primary"><span class="glyphicon glyphicon-remove"></span></button>
                </div>
            </div>
            <div class="form-group">
                <div id="" class="col-sm-offset-2 col-md-9">
                    <select class="form-control">
                        <option></option>
                        <option>Windows 7 - SP1</option>
                        <option>Windows Server - 2012</option>
                        <option>Ubuntu - 14.10</option>
                    </select>
                </div>
                <div id="" class="col-md-1">
                    <button type="button" class="btn btn-primary"><span class="glyphicon glyphicon-remove"></span></button>
                </div>
            </div>
            <br>
            <div class="form-group">
                <div class="col-md-offset-4 col-md-4">
                    <div class="btn-group btn-group-justified" role="group" aria-label="...">
                        <div class="btn-group" role="group">
                            <button type="submit" class="btn btn-primary">Guardar</button>
                        </div>
                        <div class="btn-group" role="group">
                            <a href="/laboratorios"><button type="button" class="btn btn-default">Cancelar</button></a>
                        </div>

                    </div>
                </div>
            </div>
        </form>
    </div>
</div>