<div class="col-md-12">
    <div class="row">
        <div class="panel panel-primary">
            <div class="panel-heading">
                <h2 class="panel-title">Laboratorios Disponibles</h2>
            </div>
            <div class="table-responsive">
                <table class="table table-striped">
                    <thead>
                        <tr>
                            <th>#</th>
                            <th>Nombre</th>
                            <th>Aula</th>
                            <th>Capacidad</th>
                            <th>Ordenadores</th>
                            <th>Proyector</th>
                            <th>Ubicacion</th>
                            <th></th>
                            <th></th>
                            <th></th>
                            <th></th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <th>1</th>
                            <td>Beta</td>
                            <td>302</td>
                            <td align="center">30</td>
                            <td align="center">23</td>
                            <td align="center">
                                <div class="checkbox">
                                    <label>
                                        <input type="checkbox" id="blankCheckbox" value="option1" Checked disabled>
                                    </label>
                                </div>
                            </td>
                            <td>3er Piso - Primer laboratorio a la derecha</td>
                            <td><a href="/editarLaboratorio"><button type="button" class="btn btn-primary btn-xs"><span class="glyphicon glyphicon-pencil"></span></button></a></td>
                            <td><a href=""><button type="button" class="btn btn-primary btn-xs"><span class="glyphicon glyphicon-remove"></span></button></a></td>
                            <td><a href="/asignarMateria"><button type="button" class="btn btn-primary btn-xs"><span class="glyphicon glyphicon-book"></span></button></a></td>
                            <td><a href="/asignarSO"><button type="button" class="btn btn-primary btn-xs"><span class="glyphicon glyphicon-cd"></span></button></a></td>
                        </tr>
                        <tr>
                            <th>2</th>
                            <td>Epsilon</td>
                            <td>305</td>
                            <td align="center">30</td>
                            <td align="center">21</td>
                            <td align="center">
                                <div class="checkbox">
                                    <label>
                                        <input type="checkbox" id="blankCheckbox" value="option1" disabled>
                                    </label>
                                </div>
                            </td>
                            <td>3er Piso - Tercer laboratorio a la derecha</td>
                            <td><a href="/editarLaboratorio"><button type="button" class="btn btn-primary btn-xs"><span class="glyphicon glyphicon-pencil"></span></button></a></td>
                            <td><a href=""><button type="button" class="btn btn-primary btn-xs"><span class="glyphicon glyphicon-remove"></span></button></a></td>
                            <td><a href="/asignarMateria"><button type="button" class="btn btn-primary btn-xs"><span class="glyphicon glyphicon-book"></span></button></a></td>
                            <td><a href="/asignarSO"><button type="button" class="btn btn-primary btn-xs"><span class="glyphicon glyphicon-cd"></span></button></a></td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
    <div class="row">
        <a href="/crearLaboratorio"><button type="button" class="btn btn-primary">Agregar Laboratorio</button></a>
    </div>
</div>