<div class="col-md-12">
    <br>
    <div class="row">
        <div class="panel panel-primary">
            <div class="panel-heading">
                <h2 class="panel-title">Software Instalado</h2>
            </div>
            <div class="table-responsive">
                <table class="table table-striped">
                    <thead>
                        <tr>
                            <th>#</th>
                            <th>
                                <div class="input-group">
                                    <input type="text" class="form-control" placeholder="Materia...">
                                    <span class="input-group-btn">
                                        <button class="btn btn-default" type="button"><span class="glyphicon glyphicon-search"></span></button>
                                    </span>
                                </div>
                            </th>
                            <th>
                                <div class="input-group">
                                    <input type="text" class="form-control" placeholder="Software...">
                                    <span class="input-group-btn">
                                        <button class="btn btn-default" type="button"><span class="glyphicon glyphicon-search"></span></button>
                                    </span>
                                </div>
                            </th>
                            <th>
                                <div class="input-group">
                                    <input type="text" class="form-control" placeholder="Laboratorio...">
                                    <span class="input-group-btn">
                                        <button class="btn btn-default" type="button"><span class="glyphicon glyphicon-search"></span></button>
                                    </span>
                                </div>
                            </th>
                            <th></th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <th>1</th>
                            <td>Programacion II</td>
                            <td>NetBeans</td>
                            <td>Epsilon</td>
                            <td><a href="/asignacion" data-toggle="tooltip" title="Editar Relación"><button id="edit" type="button" class="btn btn-primary btn-xs"><span class="glyphicon glyphicon-pencil"></span></button></a></td>
                        </tr>
                        <tr>
                            <th>2</th>
                            <td>Programacion I</td>
                            <td>Dev Cpp</td>
                            <td>Gamma</td>
                            <td><button type="button" class="btn btn-primary btn-xs"><span class="glyphicon glyphicon-pencil"></span></button></td>
                        </tr>
                        <tr>
                            <th>3</th>
                            <td>Aplicaciones Moviles</td>
                            <td>Android Studio</td>
                            <td>Beta</td>
                            <td><button type="button" class="btn btn-primary btn-xs"><span class="glyphicon glyphicon-pencil"></span></button></td>
                        </tr>
                        <tr>
                            <th>4</th>
                            <td>Tecnologias de Seguridad</td>
                            <td>Wire Shark</td>
                            <td>Kappa</td>
                            <td><button type="button" class="btn btn-primary btn-xs"><span class="glyphicon glyphicon-pencil"></span></button></td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>