<div class="container">
  <div class="row">
    <div class="col-md-offset-2 col-md-8" align="center">
      <h1>Ingreso existoso</h1>
      <br>
      <h2>¡Gracias por la información brindada!</h2>
      <br>
      <h4>Si ingesó otro software el equipo de LAB-FIS buscará la versión mas actual disponible para ser instalada.</h4>
      <br>
      <div class="row" style="display: <%= (profesor.llenoForm == 'true') ? 'none' :''%>">
        <a href="/formProfesor?idProfesor=<%= profesor.idProfesor%>" type="button" class="btn btn-success"> Otro Ingreso</a>
      </div>
      <div class="row" style="display: <%= (profesor.llenoForm == 'false') ? 'none' :''%>">
        <h4>En caso de necesitar un ingreso mas comunicarse con el equipo de LAB-FIS.</h4>
      </div>
      <br>
    </div>
  </div>
</div>
