<div class="col-md-12">
    <div class="row">
        <h2>Editar Software</h2>
    </div>
    <br>
    <div class="row">
        <form class="form-horizontal" action="Programa/editarPrograma" method="POST">
            <div class="form-group">
               <input type="text" style="display:none" value="<%= software.idPrograma%>" name="idprograma">
                <label for="inputPassword3" class="col-sm-2 control-label">Nombre</label>
                <div class="col-sm-4">
                    <input type="text" class="form-control" name="nombrePrograma" placeholder="Nombre del aplicativo" value="<%= software.nombrePrograma%>">
                </div>
                <label for="inputPassword3" class="col-sm-2 control-label">Tipo</label>
                <div class="col-sm-3">
                    <select class="form-control">
                        <option></option>
                        <option>Sistema Operativo</option>
                        <option>Aplicativo</option>
                    </select>
                </div>
            </div>
            <div class="form-group form-inline">
                <label for="inputPassword3" class="col-sm-2 control-label">Servicio</label>
                <div class="col-sm-4">
                    <select class="form-control">
                        <option> </option>
                        <option value="Ofimatica">Ofimatica</option>
                        <option value="IDE">IDE</option>
                        <option value="BDD">BDD</option>
                        <option value="Case">Case</option>
                        <option value="Otro" selected>Otro</option>
                    </select>
                </div>
                <label for="inputPassword3" class="col-sm-2 control-label">Categoria</label>
                <div class="col-sm-3">
                    <select class="form-control">
                        <option></option>
                        <option>Libre</option>
                        <option>Pago</option>
                    </select>
                </div>
            </div>
            <div class="form-group form-inline">
                <label for="inputPassword3" class="col-sm-2 control-label">Version</label>
                <div class="col-sm-4">
                    <input type="text" class="form-control" placeholder="">
                </div>
                <label for="inputPassword3" class="col-sm-2 control-label">Año</label>
                <div class="col-sm-4">
                    <input type="text" class="form-control" placeholder="">
                </div>
            </div>
            <br>
            <div class="form-group">
                <div class="col-md-offset-4 col-md-4">
                    <div class="btn-group btn-group-justified" role="group" aria-label="...">
                        <div class="btn-group" role="group">
                            <button type="submit" class="btn btn-primary">Guardar</button>
                        </div>
                        <div class="btn-group" role="group">
                            <a href="/software"><button type="button" class="btn btn-default">Cancelar</button></a>
                        </div>
                    </div>
                </div>
            </div>
        </form>
    </div>
</div>